<section class="my-4">
    <div class="container">
        <h3 class="text-center">About Us</h3>
        <hr class="barMix">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="icon">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <h3>Our Services</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, quisquam.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="icon">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <h3>Our Services</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, quisquam.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center">
                    <div class="icon">
                        <i class="fa-solid fa-gear"></i>
                    </div>
                    <h3>Our Services</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, quisquam.</p>
                </div>
            </div>
        </div>
    </div>
</section>