<section class="bg-primary text-light text-center">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h5>Subscribe</h5>
                <form action="">
                    <input type="text" class="form-control" placeholder="Enter Your Email">
                    <button class="btn btn-block btn-info mt-2">Suscribe</button>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</section>